<h1>Your Cart</h1>
<div class="row">
  <div class="large-12 columns">
    <ul>
      <%= form_tag cart_path, method: :post do %>
        <% @items.each do |item, quantity| %>
          <li id="cart-item">
            <%= item.title %><br>
            <%= item.description %><br>
            Price: <%= number_to_currency item.price %><br>
            <%= label_tag("new_cart[#{item.id}]", "Quantity:") %>
            <%= text_field_tag "new_cart[#{item.id}]", quantity %>
            <%= link_to "Delete", cart_items_path(item_id: item.id), method: :delete, class: "tiny button radius" %>
        <% end %>
        </li>
        <br><li class="right">Total Cost: <%= number_to_currency @cart.total_price %></li><br>
        <li class="right"><%= submit_tag 'Update cart', class: "tiny button radius" %></li>
      <% end %>
      <br><br><br>
      <li class="right"><%= button_to 'Checkout', orders_path, class: "tiny button radius" %></li>
    </ul>
  </div>
</div>
