<div class="row">
  <h1>Your Cart</h1>
  <div class="large-12 columns">
    <ul>
      <%= form_tag cart_path, method: :post do %>
        <% @items.each do |item, quantity| %>
          <li id="cart-item">
            <div class="row">
              <div class="small-3 columns">
                <%= image_tag item.image.url(:thumb) %><br>
              </div>
              <div class="small-6 columns">
              <%= item.title %><br>
              <%= item.description %><br>
              Price: <%= number_to_currency item.price %>
              </div>
              <div class="small-3 columns">
                <%= label_tag("new_cart[#{item.id}]", "Quantity:") %>
                <%= text_field_tag "new_cart[#{item.id}]", quantity %>
                <%= link_to "Delete", cart_items_path(item_id: item.id), method: :delete, class: "tiny button radius" %>  
              </div>
            </div>
        <% end %>
        </li>
        <br><li class="right">Total Cost: <%= number_to_currency @cart.total_price %></li><br>
        <li class="right"><%= submit_tag 'Update cart', class: "tiny button radius" %></li>
      <% end %>
      <br><br><br>
      <li class="right"><%= button_to 'Checkout', orders_path, class: "tiny button radius" %></li>
    </ul>
  </div>
</div>
