<div class="row">
  <h1>Modify Item:</h1>
  <h2><%= @item.title %></h2>
  
  <%= form_for [:admin, @item] do |f| %>
    
  <div class="large-12 large-centered columns">  
    <%= f.label :title %>
    <%= f.text_field :title, value: @item.title %><br>
  </div>
  
  <div class="large-12 large-centered columns">
    <%= f.label :description %>
    <%= f.text_area :description, value: @item.description %><br>
  </div>
    
  <div class="large-12 large-centered columns">
    <%= f.label :price %>
    <%= f.text_field :price, value: @item.price %><br>
  </div>
    
  <div class="large-12 large-centered columns">
    <%= f.label :categories %>
    <%= f.collection_check_boxes(:category_ids, @categories.to_a, :id, :name) %><br>
  </div>
    
  <div class="large-12 large-centered columns">
    <% if @item.image.exists? %>
      <%= image_tag @item.image.url(:medium) %><br/>
    <% end %>
  </div>
    <br>
  <div class="large-12 large-centered columns">
    <%= f.label :image, "Attach a New Image" %><br />
    <%= f.file_field :image %>
  </div>
  
    <p class= "center"><%= f.submit "Update item", class:"tiny button radius" %></p>
    <!-- @invoice.update(params[:invoice]) -->
    <!-- Insert check box for retired in this view, which
         changes boolean column to true in item table.
         put scope in to allow to put @items in item_controller
         equal to the items scoped that have retired == false -->
  <% end %>
  
  <p class="center"><%= button_to "Retire item", admin_item_path(item_id: @item.id), method: :delete, class: "tiny button radius" %></p>
</div>
