<div class="row">
  <h1>All Items</h1>

  <%= link_to "Add new item", new_admin_item_path %><br>
  <%= link_to "Add new category", new_admin_category_path %><br><br>
  
<div class="large-6 large-centered columns">
  <div id="admin-items">
    <ul>
      <% @items.each do |item| %>
        <li class="small-6 columns">
          <%= image_tag item.image.url(:thumb) %><br>
          <strong><%= link_to "#{item.title}", admin_item_path(item) %></strong><br>
          <%= item.description %>, 
          <%= number_to_currency item.price %><br>
          <% if item.retired %>
            *RETIRED*
          <% end %>
          <%= link_to "Modify item", edit_admin_item_path(item.id) %><br><br>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
