<h1>Order Detail</h1>

Order date/time: <%= @order.created_at %>
Purchaser name: <%= @user.full_name %>
Purchaser email: <%= @user.email %>

<% @order_items.each do |order_item| %>
  Item: <%= order_item.item.title %>
  Price: <%= number_to_currency order_item.item.price %>
  Quantity: <%= order_item.quantity %>
  Item subtotal: <%= order_item.line_item_price %>
<% end %>

Order total:
Order status:
