<h1>Sign Up</h1>

<div class="row">
    <%= form_for(User.new) do |f| %>

      <div class="large-12 large-centered columns">
        <%= f.label :full_name %>
        <%= f.text_field :full_name, :placeholder => "full name"%>
      </div>

      <div class="large-12 large-centered columns">
        <%= f.label :display_name %>
        <%= f.text_field :display_name, :placeholder => "display name"%>
      </div>

      <div class="large-12 large-centered columns">
        <%= f.label :email %>
        <%= f.text_field :email,  :placeholder => "email"%>
      </div>

      <div class="large-12 large-centered columns">
        <%= f.label :password %>
        <%= f.password_field :password,  :placeholder => "password"%>
      </div>

      <p class= "center"><%= f.submit "Sign up", class:"tiny button radius" %></p>
    <% end %>
</div>
