<h1>Sign Up</h1>

<form>
  <div class="row">
    <div class="large-12 columns">
      <%= form_for(User.new) do |f| %>
        <%#= f.label :full_name %>
        <%= f.text_field :full_name, :placeholder => "full name"%>
        </div>
        <div class="large-12 columns">
          <%#= f.label :display_name %>
          <%= f.password_field :display_name, :placeholder => "display name"%>
        </div>
        <div class="large-12 columns">
          <%#= f.label :email %>
          <%= f.text_field :email, :placeholder => "email" %>
        </div>
        <div class="large-12 columns">
          <%#= f.label :password %>
          <%= f.password_field :password, :placeholder => "password"%>
        </div>
        <%= f.submit "Sign up" %>
      <% end %>
      </div>
</form>
