
<div class="row main-title">
  <h1>Welcome to R.L.'s Diner!</h1>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <%= link_to "#{category.name}", category_path(category.id) %>
  <% end %>

  <div id="items">
    <ul>
      <% @items.each do |item| %>
        <li class="large-4 columns">
          <p><%= image_tag item.image.url(:thumb) %></p>
          <%= item.title %>:
          <%= item.description %>,
          <%= number_to_currency item.price %><br>
          <%= link_to "View item", item %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
