<h1>Item: <%= @item.title %></h1>

<div class="row">
  <div class="large-6 columns">
    <p><%= image_tag @item.image.url(:thumb) %></p>
  </div>
  <div class="large-6 columns">
    <h4>Description: <%= @item.description %><br>
      Price: <%= number_to_currency @item.price %><br>
      Categories:
      <ul>
        <% @categories.each do |c| %>
          <li>
            <%= c.name %>
          </li>
        <% end %>
      </ul>
      <% unless @item.retired? %>
        <%= button_to "Add to cart", cart_items_path(item_id: @item.id) %>
      <% end %>
    </h4>
  </div>
</div>
