g<h1>Category: <%= @category.name %></h1>

<% @items.each do |item, quantity| %>
  <li>
    <%= item.title %><br>
    <%= item.description %><br>
    Price: <%= number_to_currency item.price %><br>
    <%= link_to "View item", item %><br>
  </li><br>
<% end %>
